/*.img{
  width: 100%;
  height: 100%;
}*/

.img_home_card1 {
	/*width: 120rpx;
	height: 120rpx;*/
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%;
}

/*晃动动画*/
.Shaking{-webkit-animation: Shaking 1.2s linear infinite;}
@-webkit-keyframes Shaking {
  0%,
  100% {-webkit-transform: rotate(-20deg) ;}
  50%{-webkit-transform: rotate(20deg);}}

/*晃动动画2*/
.Shaking2{-webkit-animation: Shaking2 0.5s linear infinite;}
@-webkit-keyframes Shaking2 {
  0%,
  100% {-webkit-transform: rotate(-20deg) scale(1.1);}
  50%{-webkit-transform: rotate(20deg) scale(1);}}
  /*晃动动画3*/
 .Shaking3{-webkit-animation: Shaking3 1.2s linear infinite;}
@-webkit-keyframes Shaking3 {
  0%,
  100% {-webkit-transform: rotate(-6deg) ;}
  50%{-webkit-transform: rotate(6deg);}
  }
 
/*晃动动画4 只晃动一次*/
.Shaking4{
	-webkit-animation: Shaking2 0.5s linear infinite;
	animation-iteration-count: 1;
}
@-webkit-keyframes Shaking2 {
  0%,
  100% {-webkit-transform: rotate(-12deg) ;}
  50%{-webkit-transform: rotate(12deg);}
 }
 
 /*晃动动画*/
/*.Shaking5{-webkit-animation: Shaking5 2s linear infinite;}
@-webkit-keyframes Shaking5 {
  0%,
  100% {-webkit-transform: rotate(-20deg);}
  50%{-webkit-transform: rotate(20deg);}
 }*/
.Shaking6{-webkit-animation: Shaking6 1.5s linear infinite;}
@-webkit-keyframes Shaking6 {
  0%,
  100% {-webkit-transform: rotate(-30deg);}
  50%{-webkit-transform: rotate(30deg);}
 }
 
 
 /*抖动的效果*/
.rubberBand1 {
	/*animation: rubberBand 1.5s ease-in infinite alternate;*/
	animation: rubberBand1 1.5s 1.5s infinite alternate;
	-webkit-animation-name: rubberBand1;
	animation-name: rubberBand1
}

@keyframes rubberBand1 {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	50% {
		/*-webkit-transform: scale3d(1.15,.85,1);*/
		transform: scale3d(1.15,.85,1)
		/*-webkit-transform: scale3d(1.1,0.9,2);
		transform: scale3d(1.1,0.9,2)*/
	}
	/*50% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}*/
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}


/*抖动的效果*/
.rubberBand {
	animation: rubberBand 0.5s ease-in infinite alternate;
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		/*-webkit-transform: rotate(-6deg);*/
	}
	30% {
		-webkit-transform: scale3d(1.15,.85,1);
		transform: scale3d(1.15,.85,1);
		/*-webkit-transform: scale3d(1.1,0.9,2);
		transform: scale3d(1.1,0.9,2)*/
	}
	50% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		/*-webkit-transform: rotate(6deg);*/
	}
	/*to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}*/
}
 
 
 .app_li {
	width:85rpx;
	height:85rpx;
	
	border-radius: 50%;
}

.border_all {
	border: 5rpx solid #965F2A;
}

